<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kenzz.crazyapp">
 <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/funny_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/funny_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SkinTestActivity">
        </activity>
        <service android:name=".service.GuardService" android:process=":guardService"/>
        <service android:name=".service.WorkService"/>
        <service android:name=".service.JobWakeUpService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            />
        <provider
            android:authorities="com.kenzz.crazyapp.supportprovider"
            android:name=".database.SupportContentProvider"
            android:exported="true"
            android:permission="com.kenzz.SUPPORTPROVIDER"
            />
    </application>
<permission android:name="com.kenzz.SUPPORTPROVIDER" android:protectionLevel="normal"/>
</manifest>